/**
* FOOTER STYLINGS
**/
.footer {

    /* Setting text colour to grey */
    color: grey;

    /* Setting the position of the element */
    position: fixed;

    /* Justifying the element to the bottom of the page */
    bottom: 0;

    /* Setting the text in the element to be aligned in the middle of the page */
    text-align: center;

    /* Setting the width of the element to 100% of the page */
    width: 100%;
}