/*
* === GLOBAL STYLINGS ===
*/

/* 
* --- WEBSITE FONT AND BACKGROUND COLOUR ---
*/

body {
    font-family: helvetica, sans-serif;
    background-color: #f0f8ff;
}

/*
* --- NAVBAR ---
*/

/* Stylings for unordered lists */
nav ul {

    /* Removes bullet points from navbar */
    list-style-type: none;

    /* Aligns navbar with edge of page */
    padding: 0;
}

/* Stylings for links in unordered list items */
nav li a {

    /* Setting font size of link text */
    font: 15pt;

    /* Displays element as a block element */ 
    display: block;

    /* Space around element, first term is vertical, second term is horizontal */
    padding: 14px 5px;

    /* Removes the underline from the link text */
    text-decoration: none;

    /* Setting text colour to grey */
    color: #686868;
}

/* Stylings for unordered list item when active */
nav li a.active {

    /* Setting text colour to green */
    color: green;
}

/* Stylings for unordered list item when not active and the mouse is hovering over */
nav li a:hover:not(.active) {
    
    /* Setting text colour to black */
    color: black;
}

/* Stylings for unordered list item that are part of the justify-left class*/
nav li.justify-left {

    /* Causes list items to align themselves horizontally */
    float: left;
}

/* Stylings for unordered list items that are part of the justify-right class */
nav li.justify-right {

    /* Append the element to the right of the page */
    float: right;

    /* Adding some padding on the left side of each element */
    padding-left: 5px;
}


/*
* --- FOOTER ---
*/

footer {

    /* Setting text colour to grey */
    color: #686868;

    /* Setting the position of the element */
    position: fixed;

    /* Placing the element at the bottom of the page */
    bottom: 0;

    /* Setting the text in the element to be aligned in the middle of the page */
    text-align: center;

    /* Setting the width of the element to 100% of the page */
    width: 100%;
}

/*
* -- FOOTER IMAGE ---
*/

.footer-emoji {
    width: 20px;
}

/*
* --- LARGE TEXT ---
*/

/* Self-explanatory */
.large-text {
    font-size: 15pt;
}

/*
* --- LARGE FIELD ---
*/

/* Large field with rounded corners */
.large-field {

    /* Setting font size */
	font-size: 15pt;

	/* Setting height of field */
	height: 30px; 

	/* Rounding the corners */
	border-radius: 5px;
}

/*
* --- HORIZONTAL ALIGNMENT ---
*/

.horiz-div {

	/* Element is positioned relative to it's parent element*/
	position: absolute;

    /* Positioning element 50% of the page width from the left side of the page */
    left: 50%;

    /* Moving element to absolute middle of page, vertically and horizontally */
    transform: translateX(-50%);
}

/*
* --- HORIZONTAL AND VERTICAL ALIGNMENT ---
*/

.middle-div {

    /* Element is positioned relative to it's parent element, in this case, body */
    position: absolute;

    /* Positioning element 50% of the page height from the top of the page */
    top: 50%;

    /* Positioning element 50% of the page width from the left side of the page */
    left: 50%;

    /* Moving element to absolute middle of page, vertically and horizontally */
    transform: translateX(-50%) translateY(-50%);
}

/*
* -- IMAGE ALIGNMENT ---
*/

/* Centering image and padding it horizontally */
.image-wrapper {
    text-align: center;
    width: 100%;
}

/*
* --- INPOT SPACING ---
*/

/* Padding input fields on the top */
.input-spacing {
	padding-top: 20px;
}

/*
* -- REQUIRED FIELDS * ---
*/

/* After divs that are given the .required class, a red star will be placed, indicating that that element is required to be filled out */
.required:after { 
    color: red;
    content: "*"; 
}

/*
* --- SPECIFIC PADDING ---
*/

/* Very specific padding, in this case, on the top and on the left */
.specific-padding {
	padding-top: 10px;
	padding-left: 20px;
}

/*
* --- THICK BORDER ---
*/

/* This was a work-around as the select element would not show it's edges on mobile, which could cause confusion */
.thick-border {
    border: 1px solid lightgrey;
}

/*
* --- SCROLLABLE DIVS ---
*/

.scrollable-div {

	/* Class that makes div scrollable in the x-direction if the content is greater than the div's width */
	overflow-x: scroll;
}

/**
* --- TABLE-RELATED STYLINGS ---
**/

/* Stylings for element with table class */
.table {

	/* Setting width of element to size of page */
	width: 100%;
}

/* For each of the following elements, we want a single black border around them */
table, th, td {
	border: 1px solid black;

	/* Removes the default double border */
	border-collapse: collapse;
}

/* Putting padding in cells */
th, td {
	padding: 5px;
}

/* th has a default of aligning to the middle, so aligning it left */
th {
	text-align: left;
}

/* Set width of table cell */
.wide-td {
	width: 30%;
}

/**
* --- ANIMAL IMAGE STYLINGS ---
**/

.animal {

    /* Setting the width of the image */
    width: 100px;

    /* Placing the element at the bottom of the page */
    bottom: 40px;

    /* Setting the position of the element */
    position: fixed;
}

.animal-right {
    
    /* Placing the element to the right of the page */
    right: 10px;
}

/*
* --- SPINNER ---
*/

/* inspired by https://www.w3schools.com/howto/howto_css_loader.asp */
.spinner {
    /* centers horizontally */
    margin: auto;

    /* hiding div initially */
    display: none;

    /* setting border colours and size */
    border: 5px solid lightgrey;
    border-radius: 50%;
    border-top: 5px solid green;

    /* sizing the overall div */
    width: 20px;
    height: 20px;

    /* animate spinner according to the rule spin*/
    animation: spin 1s linear infinite;
}

/* defining webkit keyframes for the spin rule */
@-webkit-keyframes spin {

    /* describing the rotation for the spinner */
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
    }
}


/*
* -- RESPONSIVE STYLINGS ---
*/

/* when on mobile, adjust font sizes, alignment, heights of elements, and padding */
@media only screen and (max-width: 667px) and (min-width: 370px){
    nav li a {
        font-size: 9pt;
    }

    footer {
        font-size: 9pt;
    }

    .specific-padding {
        padding: 0px;
    }

    h1 {
        font-size: 14pt;
        text-align: center;
    }
}

@media only screen and (max-width: 369px) {
    nav li a {
        font-size: 7pt;
    }
    h1 {
        font-size: 14pt;
        text-align: center;
    }
    footer {
        font-size: 7pt;
    }
}