/*
* === INDEX PAGE SPECIFIC STYLINGS ===
*/

/*
* -- BARN IMAGE ---
*/

.barn-image {
    /* Setting the content of the element */
	content: url("../assets/img/vector-farm.png");
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* When screen gets too small in width, remove image */
@media only screen and (max-width: 350px) {
	.horiz-div {
		position: relative;
	}
	.barn-image {
		visibility: hidden;
	}
}

/* When screen gets too small in height, remove image */
@media only screen and (max-height: 630px) {
	.barn-image {
		visibility: hidden;
	}
	.horiz-div {
		position: relative;
	}
}

/* When screen gets too small in height, remove image */
@media only screen and (max-height: 374px) {
	footer {
		position: relative;
	}
}

