/*
* === INDEX PAGE SPECIFIC STYLINGS ===
*/

/*
* --- BACKGROUND IMAGE ---
*/

/* Took out image for simplicity */

/*body {*/
	/*background-image: url("../assets/img/Farmer.jpg");*/ 
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
/*}*/

/*
* --- DIV CONTENT (THE BARN) ---
*/

.barn-image {
	content: url("../assets/img/vector-farm.png");
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* When screen gets too small in width, remove image */
@media only screen and (max-width: 350px) {
	.barn-image {
		content: none;
	}
}

/* When screen gets too small in height, remove image */
@media only screen and (max-height: 630px) {
	.barn-image {
		content: none;
	}
}