/*
* === CREATE ACCOUNT PAGE SPECIFIC STYLINGS ===
*/

/*
* --- ANIMAL IMAGE ---
*/

.animal {
    
    /* Setting the content of the element */
    content: url("../assets/img/vector-cow.png");  
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* When in landscape mode, attach footer to bottom of content instead of it's usual fixed position at bottom of page*/
@media only screen and (max-height: 750px) {
	footer {
		position: relative;
	}
    .animal {
        visibility: hidden;
    }
}

/* When the screen gets too small width-wise, remove animal from page, and set footer to bottom of content */
@media only screen and (max-width: 375px) {
    .animal {
        visibility: hidden;
    }
    footer {
        position: relative;
    }
}