/**
* SEARCH STYLINGS
**/

/* All encompassing div for search elements */
.search {

	/* Element is positioned relative to it's parent element, in this case, body */
	position: absolute;

	/* Positioning element 50% of the page height from the top of the page */
    top: 50%;

    /* Positioning element 50% of the page width from the left side of the page */
    left: 50%;

    /* Moving element to absolute middle of page, vertically and horizontally */
    transform: translateX(-50%) translateY(-50%);
}