/*
* === CREATE OBJECT PAGE SPECIFIC STYLINGS ===
*/

/*
* --- ANIMAL IMAGE ---
*/

.animal {
	
	/* Setting the content of the element */
	content: url("../assets/img/vector-chicken.png");
}

/*
* --- MAGNIFYING GLASS IMAGE ---
*/

.mag-glass {
	
	/* Setting the width of the image */
    width: 20px;

    /* Aligning the image within the button, vertically */
    vertical-align: -3px;
}

/* When screen gets too small in height, remove image */
@media only screen and (max-height: 500px) {
	.animal {
		visibility: hidden;
	}
	.horiz-div {
		position: relative;
	}

}
@media only screen and (max-height: 374px) {
	.middle-div {
		position: relative;
	}
	footer {
		position: relative;
	}
}