/*
* === SIGN IN PAGE SPECIFIC STYLINGS ===
*/


/*
* --- ANIMAL IMAGE ---
*/

.animal {
    
    /* Setting the content of the element */
    content: url("../assets/img/vector-horse.png");
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* When screen gets too small in height, remove image */
@media only screen and (max-height: 500px) {
    .animal {
        visibility: hidden;
    }
}

/* When screen gets too small in width, make everything relative and hide image*/
@media only screen and (max-height: 374px) {
    .animal {
        visibility: hidden;
    }
    .horiz-div {
        position: relative;
    }
    .middle-div {
        position: relative;
    }
    .footer {
        position: relative;
    }
}