/*
* === SPECIFIC OBJECT PAGE SPECIFIC STYLINGS ===
*/

/*
* --- BACKGROUND IMAGE ---
*/

body {
	background-color: #f0f8ff;
}

/*
* --- NAVBAR ---
*/

.navbar li a{
	color: navy;
}

/* Stylings for unordered list item when active */
.navbar li a.active {
    color: darkgreen;
}

/*
* --- FOOTER ---
*/

.footer {
	color: navy;
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* when on mobile, adjust font sizes, and padding */
@media only screen and (max-width: 667px) {
    .specific-padding {
        padding: 0px;
    }

    .navbar li a:not(.active){
        font-size: 8pt;
        padding: 14px 5px;
    }

    .footer {
        font-size: 8pt;
    }

    .scrollable-div {
    	height: 300px;
    }
}

/* When in landscape mode, attach footer to bottom of page instead of it's usual fixed position */
@media only screen and (max-height: 600px) {
    .footer {
        position: relative;
    }
}