/*
* === SPECIFIC OBJECT PAGE SPECIFIC STYLINGS ===
*/

/*
* -- USER-UPLOADED IMAGE STYLINGS ---
*/

.user-farm-image {
	width: 200px;
}

/*
* -- FOOTER STYLINGS ---
*/

.footer {
	position: relative;
}

/*
* -- RESPONSIVE STYLINGS ---
*/

/* When in landscape mode, attach footer to bottom of content instead of it's usual fixed position at the bottom of the page */
@media only screen and (max-height: 667px) {
    .footer {
        position: relative;
    }
}